/*===========Colors====================*/
:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

/*============Fonts====================*/

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/static/Outfit-Bold.ttf);
    font-weight: 700;
}

/*==========Main=======================*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center ;
}

hr{
    display: none;
    border: none;
    height: 2px;
    background-color: var(--Stone-150);
    width: 90%;
    margin: 0px auto;
    opacity: 0.5;
}

.container li {
    font-family: "Outfit";
    color: var(--Stone-600);
    font-weight: 400;
    padding-left: 20px;
    font-size: 1.05em;
    margin: 12px 0;
}

.container li::marker{
    color: var(--Rose-800);
    font-size: 0.8em;
}

/*===========Section===================*/

.container{
    background-color: var(--White);
    width: 100%;
    max-width: 800px;
    margin: 100px 0px;
    padding: 40px;
    border-radius: 20px;
}

/*==========Section Title==============*/

.omeletteImg{
    width: 100%;
    border-radius: 20px;
}

.section-title{
    font-family: "Young Serif";
    font-weight: 400;
    color: var(--Stone-900);
    font-size: 2.4em;
    margin: 20px 0px;
}

.section-description{
    font-family: "Outfit";
    font-weight: 400;
    color: var(--Stone-600);
    font-size: 1.1em;
}

/*===========Preparation===============*/

.preparation-time{
    margin: 50px 0px 30px 30px;
}
.time-title{
    color: var(--Rose-800);
    font-family: "Outfit";
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.time-list {
    list-style-position: outside;
    padding-left: 20px;
}

/*=========Ingredients=================*/

.ingredients-title{
    color: var(--Brown-800);
    font-size: 1.8em;
    font-family: "Young Serif";
    font-weight: 400;
    margin: 60px 0px 20px 0px;
}

.ingredient-list {
    list-style-position: outside;
    padding-left: 20px;
    margin-bottom: 30px;
}


/*==========Instructions===============*/

.instructions-title{
    color: var(--Brown-800);
    font-size: 1.8em;
    font-family: "Young Serif";
    font-weight: 400;
    margin: 30px 0px 20px 0px;
}

.instruction-list {
    list-style-position: outside;
    padding-left: 20px;
    margin-bottom: 30px;
}

.instruction-list li::marker{
    font-size: 1em;
}

/*==========Nutrition==================*/

.nutrition-title{
    color: var(--Brown-800);
    font-size: 1.8em;
    font-family: "Young Serif";
    font-weight: 400;
    margin: 30px 0px 20px 0px;
}
.nutrition-description{
    font-family: "Outfit";
    font-weight: 400;
    color: var(--Stone-600);
    font-size: 1.1em;
    margin-bottom: 15px;
}

/*============Table====================*/

.nutrition-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.nutrition-table tr:not(:last-child) {
    border-bottom: 1px solid var(--Stone-150);
}
.nutrition-table td{
    color: var(--Brown-800);
    font-family: "Outfit";
    font-weight: 600;
    padding: 10px 0;
    font-size: 1em;
}

.nutrition-table th{
    color: var(--Stone-600);
    font-family: "Outfit";
    font-weight: 400;
    padding: 10px 0px 10px 25px;
    width: 50%;
}

/*=========Phone Screen================*/

@media (max-width: 800px) {
    .container {
        margin: 0;
        padding: 20px;
        padding-top: 0;
        border-radius: 0;
    }
    .omeletteImg{
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
        border-radius: 0;
        display: block;
        max-width: none;
    }
    hr{
        display: block;
    }
}